[submodule "re-resources"]
	path = re-resources
	url = https://github.com/iEasyScript/reclass-data.git
	branch = main
[submodule "client-plugin-engine/native-bootstrap/funchook"]
	path = client-plugin-engine/native-bootstrap/funchook
	url = https://github.com/kubo/funchook.git
[submodule "client-plugin-engine/native-bootstrap/imgui"]
	path = client-plugin-engine/native-bootstrap/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ai-input"]
	path = ai-input
	url = https://github.com/iEasyScript/training.git
